/* HEX Color Codes */
:root {
    --primary-orange: #ff7a18;
    --soft-orange: #ffb066;
    --light-orange: #ffe1c4;
    --dark-orange: #c95400;
    --primary-pink: #ff4f9a;
    --soft-pink: #ff9ac7;
    --light-pink: #ffe1ee;
    --dark-pink: #b0005a;
    --primary-blue: #1e88e5;
    --soft-blue: #64b5f6;
    --light-blue: #e3f2fd;
    --dark-blue: #0d47a1;
    --pure-white: #ffffff;
    --soft-gray: #f3f4f6;
    --charcoal-black: #1f2937;
    --dark-gray: #4b5563;
    --muted-gray: #9ca3af;
    --brown: #62422E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--soft-gray);
}

/* Navbar Section */
nav {
    align-items: center;
    margin: auto;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--pure-white);
}

nav h1 {
    font-family: "Island Moments", cursive;
    font-size: 40px;
    font-weight: 400;
    color: var(--primary-orange);
}

nav ul {
    list-style: none;
}

nav ul a {   
    text-decoration: none;
    color: var(--charcoal-black);
}

nav ul a:hover {
    color: var(--dark-orange);
}

nav ul a.active {
    color: var(--primary-orange);
}

nav ul a li {
    display: inline-block;
    position: relative;
    margin: 0 80px;
    font-weight: 500;
    font-size: 16px;
}

nav button {
    padding: 10px 20px;
    background-color: var(--primary-orange);
    color: var(--pure-white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 120px;
    font-weight: 600;
    font-size: 16px;
}

nav button:hover {
    background-color: var(--dark-orange);
}

nav .menu {
    font-size: 25px;
    display: none;
    cursor: pointer;
}

/* Main Section */
main {
    padding: 60px 40px;
    max-width: 1400px;
    margin: 100px auto auto auto;
}

/* Cart Section */
.cart {
    padding: 40px;
    background-color: var(--pure-white);
    border-radius: 4px;
    margin: 0 0 50px;
}

.cart h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.cart .cart-items {
    margin-bottom: 20px;
}

.cart-items .cart-item {
    display: flex;
    border: 1px solid var(--muted-gray);
    padding: 10px 20px;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 15px;
}

.cart-item img {
    width: 190px;
    height: 170px;
    border-radius: 6px;
    margin-right: 20px;
}

.cart-item .details {
    display: flex;
    align-items: center;
    gap: 80px;
}

.cart-item .item-desc h2 {
    font-size: 32px;
    font-weight: 700;
}

.cart-item .item-desc p {
    font-size: 24px;
    font-weight: 500;
    color: var(--muted-gray);
}

.cart-item .order {
    display: flex;
    gap: 50px;
    align-items: center;
}

.order #order-plus, .order #order-minus {
    font-size: 24px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--muted-gray);
    border: none;
}

.order #order-num {
    font-size: 52px;
    font-weight: 500;
}

.cart-item .cart-price {
    display: flex;
    align-items: center;
    gap: 80px;
}

.cart-item #price {
    font-size: 32px;
    font-weight: 700;
    color: var(--primary-orange);
}

.cart-item #del {
    background-color: var(--primary-orange);
    width: 30px;
    height: 20px;
    color: var(--pure-white);
    border: none;
}

.cart a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-blue);
}

/* Footer Section */
footer {
    color: var(--pure-white);
}

.items {
    background-color: var(--brown);
    padding: 50px 60px 30px;
    position: relative;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px;
    margin-bottom: 30px;
    max-width: 1400px;
}

.slogan h4 {
    font-family: "Island Moments", cursive;
    font-weight: 400;
    font-size: 37px;
    color: var(--primary-orange);
}

.slogan p {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.6;
}

.quick-links h4, .contact h4 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 15px;
}

.quick-links ul {
    list-style: none;
}

.quick-links ul a, .contact a, .links a {
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
    transition: color 0.3s ease;
    line-height: 1.6;
    color: var(--pure-white);
}

.quick-links a:hover, .contact a:hover, .links a:hover {
    color: var(--dark-orange);
}

/* Footer Bottom Copyright */
.items > p {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-top: 20px;
}

.top {
    position: absolute;
    bottom: 40px;
    right: 120px;
    width: 45px;
    height: 45px;
    background-color: var(--primary-blue);
    color: var(--pure-white);
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.top:hover {
    background-color: var(--dark-blue);
}

/* Media Responsiveness */
@media (max-width: 1200px) {
    nav ul a li {
        margin: 0 40px;
    }

    .cart-item img {
        width: 170px;
        height: 150px;
    }

    .cart-item .details {
        gap: 45px;
    }

    .cart-item .item-desc h2 {
        font-size: 28px;
    }

    .cart-item .item-desc p {
        font-size: 20px;
    }

    .order #order-num {
        font-size: 48px;
    }

    .cart-item .cart-price {
        gap: 40px;
    }

    .cart-item #price {
        font-size: 28px;
    }
}

@media (max-width: 1024px) {
    nav ul a li {
        margin: 0 24px;
    }

    .cart-item img {
        width: 150px;
        height: 130px;
    }

    .cart-item .details {
        gap: 20px;
    }

    .cart-item .item-desc h2 {
        font-size: 24px;
    }

    .cart-item .item-desc p {
        font-size: 16px;
    }

    .cart-item .order {
        gap: 40px;
    }

    .order #order-num {
        font-size: 44px;
    }

    .cart-item #price {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    nav ul a li,
    nav button {
        display: none;
    }

    nav .menu {
        display: block;
    }

    nav h1 {
        font-size: 24px;
    }

    .cart-item img {
        width: 170px;
        height: 150px;
    }

    .cart-item .details {
        flex-direction: column;
        gap: 10px;
    }

    .cart-item .item-desc {
        width: 100%;
    }

    .cart-item .item-desc h2 {
        margin-bottom: 6px;
    }

    .cart-item .order {
        width: 100%;
        justify-content: space-between;
    }

    .order #order-num {
        font-size: 38px;
    }

    .cart-item .cart-price {
        width: 100%;
        justify-content: space-between;
    }

    .cart-item #price {
        font-size: 24px;
    }

    .info {
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 0 20px;
    }

    .top {
        right: 20px;
        bottom: 20px;
    }
}

@media (max-width: 480px) {
    main {
        padding: 40px 20px;
    }

    .cart {
        padding: 20px;
    }

    .cart-items .cart-item {
        width: 100%;
        padding: 10px;
    }

    .cart-item img {
        width: 120px;
        height: 100px;
        margin-right: 10px;
    }

    .cart-item .item-desc h2 {
        font-size: 20px;
        margin-bottom: 6px;
    }

    .cart-item .item-desc p {
        font-size: 14px;
    }

    .order #order-plus, .order #order-minus {
        width: 25px;
        height: 25px;
        font-size: 18px;
    }

    .order #order-num {
        font-size: 24px;
    }

    .cart-item #price {
        font-size: 16px;
    }
    
    .slogan p {
        font-size: 20px;
    }
}

@media (max-width: 375px) {
    .slogan h4 {
        font-size: 35px;
    }
}